.navLogin {
    background-color: rgb(243, 219, 142);
}

.navButton {
    color: rgba(121, 121, 121, 0.911);
}

#logo {
    height: 60px;
    width: 60px;
}
.img-carousel{
    width: 100%;
    height: 300px;
    max-height: 100vh; /* Ajusta la altura máxima según el tamaño de la ventana */
    object-fit: cover; /* Cubre el contenedor manteniendo las proporciones de la imagen */
    object-position: center;
}

.register__data-register input {
    border-radius: 5px;
}

.welcome {
    background-color: rgb(230, 255, 250);
}
.welcome__text {
    color: rgba(121, 121, 121, 0.911);
}

.welcome__container--title {
    color: rgba(121, 121, 121, 0.911);
}

.welcome__container--card {
    border: 5px solid rgb(113, 226, 211);
    color: rgba(121, 121, 121, 0.911);
}

.welcome__container--brand {
    border: 5px solid rgb(241, 215, 68);
}

.welcome__footer {
    background-color: rgb(243, 219, 142);
    border-radius: 10px;
}

.brandImage {
    width: 180px;
    
}

#img_car {
    width: 50px;
    height: 50px;
}



